# Do not ignore .git directory in CloudBuild; needed to determine version                                
#.git                                                                                                    

#!include:.gitignore
