# This is a basic workflow to help you get started with Actions

name: Bazel

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    - name: Install bazelisk
      run: |
        curl -LO "https://github.com/bazelbuild/bazelisk/releases/download/v1.4.0/bazelisk-linux-amd64"
        mkdir -p "${GITHUB_WORKSPACE}/bin/"
        mv bazelisk-linux-amd64 "${GITHUB_WORKSPACE}/bin/bazelisk"
        chmod +x "${GITHUB_WORKSPACE}/bin/bazelisk"

    - name: Build
      run: |
        "${GITHUB_WORKSPACE}/bin/bazelisk" build //...

  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install bazelisk
      run: |
        curl -LO "https://github.com/bazelbuild/bazelisk/releases/download/v1.4.0/bazelisk-linux-amd64"
        mkdir -p "${GITHUB_WORKSPACE}/bin/"
        mv bazelisk-linux-amd64 "${GITHUB_WORKSPACE}/bin/bazelisk"
        chmod +x "${GITHUB_WORKSPACE}/bin/bazelisk"

    - name: Test
      run: |
        "${GITHUB_WORKSPACE}/bin/bazelisk" test //... --test_output=streamed

  verify-gofmt:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: gofmt
      run: gofmt -s -w $(find . -type f -name '*.go' | grep -v "/vendor/")

    - name: fail on changes
      run: git diff && git diff-index --quiet HEAD --
