name: tag-release

on:
  push:
    branches:
      - master
    paths:
      - etcd-manager/version.txt

jobs:
  tag-release:
    if: ${{ github.repository == 'kubernetes-sigs/etcdadm' }}
    runs-on: ubuntu-20.04

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v3.0.2
      - run: /usr/bin/git config --global user.email actions@github.com
      - run: /usr/bin/git config --global user.name 'GitHub Actions Release Tagger'
      - run: etcd-manager/dev/tag-release.sh
